main{
    display: flex;
    width: 100%;
}

.table{
    margin: 2rem;
    

}

.tableHeadings{
    display: grid;
    grid-template-columns: 60px 160px 160px 230px 80px 20px;
    gap:4.5rem;
    width: 75vw;

}

.tableData{
    display: grid;
    grid-template-columns: 60px 160px 160px 230px 80px 20px;
    gap:4.5rem;
}

.tableData > img{
    width: 24px;
    height: auto;
}

.newStudentBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-highlight);
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid var(--color-highlight);
    height: 50px;
    width: 175px;
    color: var(--color-primary);
    gap: 0.5rem;
}

.newStudentBtn > img{
    width: 19px;
    height: auto;
}

.content{
    margin-top: 2rem;
}

.modalStudent{
    color: blue;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    text-align: center;
    border: none;
}

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
    background-color: transparent;
    border: none;
}

.btn-modal > img{
    width: 24px;
}
.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.002);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}